USE [master]
GO
/****** Object:  Database [videoRental]    Script Date: 1/28/2019 11:15:34 PM ******/
CREATE DATABASE [videoRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'videoRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\videoRental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'videoRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\videoRental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [videoRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [videoRental]
GO
/****** Object:  Table [dbo].[CustomerTable]    Script Date: 1/28/2019 11:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](50) NULL,
	[CustomerPhone] [varchar](50) NULL,
	[CustomerAddress] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTable]    Script Date: 1/28/2019 11:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [varchar](50) NOT NULL,
	[Movie_Id] [varchar](50) NOT NULL,
	[IssuedDate] [varchar](50) NOT NULL,
	[ReturnedDate] [varchar](50) NULL,
 CONSTRAINT [PK_RentalTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoCopy]    Script Date: 1/28/2019 11:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoCopy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[Moviecount] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideosTable]    Script Date: 1/28/2019 11:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideosTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VideoRating] [varchar](50) NOT NULL,
	[VideoTitle] [varchar](50) NOT NULL,
	[VideoYear] [varchar](50) NOT NULL,
	[VideoCost] [varchar](50) NOT NULL,
	[VideoCopies] [int] NOT NULL,
	[VideoPlot] [varchar](50) NOT NULL,
	[VideoGenre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VideosTable] PRIMARY KEY CLUSTERED 
(
	[VideoTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
